*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: white;
}

.search {
  margin: 30px 0;
  width: 460px;
  padding: 10px;
  color: grey;
  font-size: 16pt;
}

.container {
  position: relative;
  top: 110px;
  margin: 0 auto;
  width: 980px; /* 200*4 + 3*60 = 980px */
}

.photo {
  float: left;
  margin-right: 60px;
  margin-bottom: 50px;
  transition: opacity 0.3s;
}

.photo:nth-child(4n + 0) {
  margin-right: 0;
}

.clearfix:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*******************************
MEDIA QUERIES
*******************************/

@media screen and (max-width: 980px) {
  .container {
    width: 720px; /* 200*3 + 2*60 = 720px */
  }

  .photo:nth-child(4n + 0) {
    margin-right: 60px;
  }

  .photo:nth-child(3n + 0) {
    margin-right: 0;
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 460px; /* 200*2 + 1*60 = 460px */
  }

  .photo:nth-child(3n + 0) {
    margin-right: 60px;
  }

  .photo:nth-child(2n + 0) {
    margin-right: 0;
  }
}

@media screen and (max-width: 460px) {
  .container {
    width: 200px; /* 200*1 + 0*60 = 200px */
  }

  .photo {
    margin-right: 60px;
  }

  .search {
    width: 80%;
  }
}
